/*filters*/
.filters {
  padding-top: 94px;
  padding-bottom: 50px;

  &--flex {
    display: flex;
    justify-content: center;
  }
}

.filters__item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0px;
  }
}
